body {
  font-family: 'Spartan', sans-serif;
  padding: 80px 150px;
  background: url("../images/bg-pattern-top-desktop.svg") no-repeat fixed left top, url("../images/bg-pattern-bottom-desktop.svg") no-repeat fixed right bottom;
}

h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
  margin-block-end: 0em;
}

h4, h5, h6, p {
  font-size: 0.8rem;
}

h4 {
  color: hsl(300, 43%, 22%);
  font-weight: bold;
}

h5 {
  color: #fff;
  margin: 2%;
  font-weight: 500;
}

h6 {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
  margin: 2%;
}

p {
  color: hsl(300, 24%, 96%);
  line-height: 1.8;
  }

#intro {
  color: hsl(303, 10%, 53%);
  font-size: 0.9rem;
  font-weight: 500;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "one one one two two two"
    "one one one three three three"
    "one one one four four four"
    "five five six six seven seven";
  column-gap: 30px;
  row-gap: 5px;
}

.one {
  grid-area: one;
  margin-right: 70px;
}

.two {
  grid-area: two;
  max-height: 60px;
  margin-right: 80px;
  margin-top: 40px;
}

.three {
  grid-area: three;
  max-height: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.four {
  grid-area: four;
  max-height: 60px;
  margin-left: 80px;
}

.five {
  grid-area: five;
  margin-bottom: 45px;
  margin-top: 50px;
}

.six {
  grid-area: six;
  margin-bottom: 30px;
  margin-top: 65px;
}

.seven {
  grid-area: seven;
  margin-bottom: 15px;
  margin-top: 80px;
  }

.star-rating-single {
  background-color: hsl(300, 24%, 96%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  /* grid-template-columns: 40% 60%; */
}

.stars {
  margin: auto 40px;
  max-width: 100%;
  max-height: 100%;
  letter-spacing: 0.4rem;
}

.rating {
  margin: auto auto auto 0px;
}

.testimonial-single {
  background-color: hsl(300, 43%, 22%);
  border: 30px solid hsl(300, 43%, 22%);
  border-top: 45px solid hsl(300, 43%, 22%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 20% 80% auto;
  height: auto;
  width: auto;
}

.profile-img {
  border-radius: 100px;
  width: 80%;
}

.profile {
  grid-column-start: 1;
  grid-column-end: 2;
}

.name {
  grid-column-start: 2;
  grid-column-end: 3;
}

.text {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (min-width: 1580px) {
  body {
    padding: 80px 200px;
  }

  .wrapper {
    column-gap: 50px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1350px) {
  .star-rating-single {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.rating {
  margin: auto;
}

}

@media screen and (max-width: 959px) {
  body {
    background: url("../images/bg-pattern-top-mobile.svg") no-repeat fixed left top, url("../images/bg-pattern-bottom-mobile.svg") no-repeat fixed right bottom;
    padding: 20px;
  }

  h1, h4, #intro {
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, auto);
    row-gap: 15px;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven";
  }

  .one, .two, .three, .four, .five, .six, .seven {
    margin: auto;
    }

  .one, .two, .three, .four {
    width: 100%;
  }

.star-rating-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stars, .rating {
  margin: auto;
}
}
