body {
  background-color: #19A2AE;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  overflow: hidden;
}

h3 {
  color: #2D3248;
  font-weight: 700;
  margin-bottom: 2%;
  margin-top: 5%;
}

p {
  color: #6A6F81;
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 0 2% 0 2%;
  }

hr {
  color: #969696;
  margin-top: 8%;
  margin-bottom: 4%;
  opacity: 0.2;
}

/* Profile Card */

.container {
  position: absolute;
  background-color: #FFF;
  box-shadow: 10px 20px 20px -10px rgba(0, 0, 0, 0.2);
  /* https://css-tricks.com/almanac/properties/b/box-shadow/ */
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 370px;
  max-width: 100%;
}

.firstrow {
  position: relative;
  z-index: -1;
}

.pattern-card-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: auto;
  max-width: 100%;
}

.secondrow {
  position: relative;
  transform: translate(0, -25%);
  z-index: 1;
}

.profile-img {
  border-radius: 100px;
  border: 5px solid #FFF;
  z-index: 1;
  max-width: 100%;
  height: auto;
}

#age {
  color: #6A6F81;
  font-weight: 400;
}

#location {
  font-size: 0.8rem;
}

.thirdrow {
  display: flex;
  justify-content: space-between;
  padding: 2% 10% 7% 8%;
  position: relative;
  transform: translate(0, -65%);
}

.column {
  padding: 2% 7% 2% 5%;
}

/* Background Images */

.background-top {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-25%,-55%);
  }

.background-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(25%, 65%);
}

.pattern-top-img {
  height: auto;
  max-width: 100%;
}

.pattern-bottom-img {
  height: auto;
  max-width: 100%;
}


/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
